* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #212121;
}

header {
    display: flex;
    padding-top: 4%;
    justify-content: center;
}

header>#logo {
    width: 15%;
}

main {
    display: flex;
    margin-top: 5%;
    flex-direction: column;
}

#title {
    font-size: 3.5vw;
    color: #0077BB;
    font-weight: bold;
    align-self: center;
}

#title>.highlighted  {
    color: #FEC106;
}